includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 7

    paths:
        - app
        - routes

    tmpDir: storage/framework/cache/phpstan

    excludePaths:
        analyse:
            - bootstrap/cache/*

    reportUnmatchedIgnoredErrors: true
