parameters:
	ignoreErrors:
		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Actions/Billing/CalculateInvoiceTotalsAction.php

		-
			message: '#^Using nullsafe property access "\?\-\>default_tax_rate" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Actions/Billing/CreateInvoiceAction.php

		-
			message: '#^Using nullsafe property access "\?\-\>receipt_location" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Actions/Billing/CreateInvoiceAction.php

		-
			message: '#^Using nullsafe property access "\?\-\>receipt_template_mode" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Actions/Billing/CreateInvoiceAction.php

		-
			message: '#^Access to an undefined property App\\Models\\Invoice\:\:\$posted_payments_count\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Billing/VoidInvoiceAction.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Receipts/GenerateReceiptDataAction.php

		-
			message: '#^Using nullsafe property access "\?\-\>rtn" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Actions/Reports/ExcelReportService.php

		-
			message: '#^Using nullsafe property access "\?\-\>rtn" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Actions/Reports/PremiumExcelExportService.php

		-
			message: '#^Using nullsafe property access "\?\-\>rtn" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Support/LicenseHelper.php
